@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant {
    @apply bg-gradient-to-b from-indigo-50 via-white to-transparent;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


body {
    @apply bg-gradient-to-b from-indigo-50 to-transparent;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loader .circle {
    width: 1rem;
    height: 1rem;
    background-color: #00bcd4;
    border-radius: 50%;
    animation: loader-animation 1s infinite alternate;
}

.loader .circle:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .circle:nth-child(3) {
    animation-delay: 0.4s;
}

.loader .circle:nth-child(4) {
    animation-delay: 0.6s;
}

.loader .circle:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes loader-animation {
    to {
        transform: translateY(-1rem);
        background-color: #0288d1;
    }
}